################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/webworkflow-proto/.vs/webworkflow-proto/v16
